In [1]:
# %%
import re, json, time
from selenium import webdriver
import os

import logging
logging.basicConfig(level=logging.DEBUG, filename='scraper.log',
                    format='%(asctime)s %(levelname)s %(name)s %(message)s',
                    datefmt='%Y-%m-%d %H:%M:%S')


from parsel import Selector

import pandas as pd
import numpy as np

In [2]:
def scroll_page(url):
    # service = Service(EdgeDriverManager().install())

    # options = webdriver.EdgeOptions()
    # options.add_argument("--headless")
    # options.add_argument("--lang=en")
    # options.add_argument(
    #     "user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Edge/104.0.0.0 Safari/537.36"
    # )

    driver = webdriver.Edge()
    driver.get(url)
    driver.implicitly_wait(10)

    time.sleep(3)
    selector = Selector(driver.page_source)
    driver.quit()

    return selector

In [41]:
selector = scroll_page('https://www.youtube.com/watch?v=SBp31hP9PCY')

In [5]:
selector.css("#top-level-buttons-computed > ytd-toggle-button-renderer:first-child #text::attr(aria-label)").get()

In [6]:
int(
        re.search(r"(.*)\s", selector.css(".view-count::text").get())
        .group()
        .replace(".", "")
    )

21236

In [7]:
selector.css("#info-strings yt-formatted-string::text").get()

'17 de mai. de 2023'

In [8]:
selector.css(".ytp-time-duration::text").get()

'0:30'

In [9]:
selector.css("#count .count-text span:nth-child(1)::text").get()

In [10]:
selector.css('span.yt-formatted-string::text').get()

'Tratamake é '

get title

In [23]:
''.join(selector.xpath('//*[@id="title"]/h1//text()').getall()).strip()

'Tratamake é #MakeQueTrataBem | Avon'

In [43]:
selector_minnie = scroll_page('https://www.youtube.com/watch?v=f23BCfkI0k0')

In [25]:
''.join(selector.xpath('//*[@id="title"]/h1//text()').getall()).strip()

'Color Trend e Minnie: se jogue nesse mundo mágico com a Paty Leda'

In [ ]:
selector.xpath('')

In [30]:
selector.css("yt-formatted-string.count-text.style-scope.ytd-comments-header-renderer span.yt-formatted-string::text").get()

In [31]:
selector.css("#count > yt-formatted-string > span:nth-child(1)::text").getall()

[]

In [32]:
selector.xpath('//*[@id="count"]/yt-formatted-string/span[1]/text()').getall()

[]

In [35]:
selector.xpath('//*[@id="title"]/h2[@id="count"]//text()').getall()

[]

In [42]:
selector.css("yt-formatted-string::text").getall()

['Descrição',
 'AvonBR',
 '380',
 'Marcações "Gostei"',
 '17 de mai.',
 '2023',
 '\n    ',
 'Mostrar menos',
 'Mostrar mais',
 'Comentários',
 '26',
 'Transcrição',
 '529\xa0mil inscritos',
 '\n          ',
 '17 de mai. de 2023',
 '529\xa0mil inscritos',
 'Mostrar menos',
 '...mais',
 'Desejo de beleza',
 'Xana Juarez',
 'Cris Carara',
 'Power Music',
 'Cris TV',
 'Maximus Tecidos',
 'Karen Bachini Shorts',
 'Amanda Cichineli Consultoria',
 'AvonBR',
 'Tainara Reis',
 'Hellen Shawanny',
 'Comigo na Moda',
 'Jesicaxlopes',
 'Cris Nunes',
 'Simone Sá Oficial',
 'AvonBR',
 'Magna Paulo',
 'Dicas da Tia',
 'Dica Mineira',
 'Dicas da Tia']

In [45]:
comments = selector_minnie.css("yt-formatted-string::text").getall()
next_item = None
for i, item in enumerate(comments):
    if item == "Comentários":
        if i < len(comments) - 1:
            next_item = comments[i + 1]
            break

In [46]:
next_item

'2'

In [47]:
select_monster = scroll_page('https://www.youtube.com/watch?v=erMZe79OEf4')

In [48]:
comments = select_monster.css("yt-formatted-string::text").getall()
next_item = None
for i, item in enumerate(comments):
    if item == "Comentários":
        if i < len(comments) - 1:
            next_item = comments[i + 1]
            break
print(next_item)

Viva o Extremo com Monster: Experiência Épica ao Lado de Gabriel Medina!

In [49]:
comments

['Descrição',
 'Viva o Extremo com Monster: Experiência Épica ao Lado de Gabriel Medina!',
 'Brasal',
 '1',
 'Marcações "Gostei"',
 '54',
 'Visualizações',
 '18 de ago.',
 '2023',
 '\n    ',
 'Mostrar menos',
 'Mostrar mais',
 'Comentários',
 'Viva o Extremo com Monster: Experiência Épica ao Lado de Gabriel Medina!',
 '4,14\xa0mil inscritos',
 '\n          ',
 'Viva o Extremo com Monster: Experiência Épica ao Lado de Gabriel Medina!',
 '18 de ago. de 2023',
 '4,14\xa0mil inscritos',
 'Mostrar menos',
 '...mais',
 'MARESIAS CREW',
 'World Surf League',
 'Canal OFF',
 'Surfari TV',
 'Go There',
 'bruno_senna_surfboards',
 'flow haze cafe',
 'SURFE TV',
 'Genaro Brusch',
 'Filosurfando',
 'MARESIAS CREW',
 'de Dentro do tubO',
 'Kakolu Surf',
 'World Surf League',
 'CUMULUS TV',
 'Power Surf ',
 'de Dentro do tubO',
 'Caio Ibelli',
 'Canal OFF',
 'MARESIAS CREW',
 'Mostrar mais']

In [1]:
import pandas as pd

In [2]:
pd.read_parquet("data/Embraer/last_30_days.parquet")

         Channel       views  subs
0       @Embraer  +2,121,709   +3K
1        @Boeing    +308,891   +1K
2  @ATRbroadcast     +15,374  +100
3        @airbus    +242,232   +1K